<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <title>Kathari</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Kathari</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Store</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <ul class="navbar-nav d-none d-lg-flex ml-2 order-3">
          <li class="nav-item">
            <a class="nav-link" href="https://themes.getbootstrap.com/signin/"
              >Sign in</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="https://themes.getbootstrap.com/my-account/"
              >Sign up</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row align-items-center">
        <div
          class="col-lg-6 col-md-6 order-2 order-md-1 mt-4 pt-2 mt-sm-0 opt-sm-0"
        >
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-6">
              <div class="row">
                <div class="col-lg-12 col-md-12 mt-4 pt-2">
                  <div
                    class="card work-desk rounded border-0 shadow-lg overflow-hidden"
                  >
                    <img
                      src="https://www.bootdey.com/image/241x362/FFB6C1/000000"
                      class="img-fluid"
                      alt="Image"
                    />
                    <div class="img-overlay bg-dark"></div>
                  </div>
                </div>
                <!--end col-->

                <div class="col-12">
                  <div class="mt-4 pt-2 text-right">
                    <a href="javascript:void(0)" class="btn btn-info"
                      >Read More <i class="mdi mdi-chevron-right"></i
                    ></a>
                  </div>
                </div>
              </div>
              <!--end row-->
            </div>
            <!--end col-->

            <div class="col-lg-6 col-md-6 col-6">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div
                    class="card work-desk rounded border-0 shadow-lg overflow-hidden"
                  >
                    <img
                      src="https://www.bootdey.com/image/337x450/87CEFA/000000"
                      class="img-fluid"
                      alt="Image"
                    />
                    <div class="img-overlay bg-dark"></div>
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-12 col-md-12 mt-4 pt-2">
                  <div
                    class="card work-desk rounded border-0 shadow-lg overflow-hidden"
                  >
                    <img
                      src="https://www.bootdey.com/image/600x401/FF7F50/000000"
                      class="img-fluid"
                      alt="Image"
                    />
                    <div class="img-overlay bg-dark"></div>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!--end col-->
        <div class="col-lg-6 col-md-6 col-12 order-1 order-md-2">
          <div class="section-title ml-lg-5">
            <h5 class="text-custom font-weight-normal mb-3">
              Kathari Online Store
            </h5>
            <h4 class="title mb-4">
              Our mission is to <br />
              make your shopping experience fun and easier.
            </h4>
            <p class="text-muted mb-0">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit quod
              debitis praesentium pariatur temporibus ipsa, cum quidem obcaecati
              sunt?
            </p>
            <div class="row">
              <div class="col-lg-6 mt-4 pt-2">
                <div class="media align-items-center rounded shadow p-3">
                  <i class="fa fa-play h4 mb-0 text-custom"></i>
                  <h6 class="ml-3 mb-0">
                    <a href="javascript:void(0)" class="text-dark"
                      >Responsive</a
                    >
                  </h6>
                </div>
              </div>
              <div class="col-lg-6 mt-4 pt-2">
                <div class="media align-items-center rounded shadow p-3">
                  <i class="fa fa-file-download h4 mb-0 text-custom"></i>
                  <h6 class="ml-3 mb-0">
                    <a href="javascript:void(0)" class="text-dark"
                      >Free Download</a
                    >
                  </h6>
                </div>
              </div>
              <div class="col-lg-6 mt-4 pt-2">
                <div class="media align-items-center rounded shadow p-3">
                  <i class="fa fa-user h4 mb-0 text-custom"></i>
                  <h6 class="ml-3 mb-0">
                    <a href="javascript:void(0)" class="text-dark">Support</a>
                  </h6>
                </div>
              </div>
              <div class="col-lg-6 mt-4 pt-2">
                <div class="media align-items-center rounded shadow p-3">
                  <i class="fa fa-image h4 mb-0 text-custom"></i>
                  <h6 class="ml-3 mb-0">
                    <a href="javascript:void(0)" class="text-dark"
                      >Development</a
                    >
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--enr row-->
    </div>

    <div class="container bootstrap snipets">
      <h1 class="text-center text-muted">Product catalog</h1>
      <div class="row flow-offset-1">
        <div class="col-xs-6 col-md-4">
          <div class="product tumbnail thumbnail-3">
            <a href="#"
              ><img
                src="https://www.bootdey.com/image/350x280/FFB6C1/000000"
                alt=""
            /></a>
            <div class="caption">
              <h6><a href="#">Short Sleeve T-Shirt</a></h6>
              <span class="price"> <del>$24.99</del></span
              ><span class="price sale">$12.49</span>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="product tumbnail thumbnail-3">
            <a href="#"
              ><img
                src="https://www.bootdey.com/image/350x280/87CEFA/000000"
                alt=""
            /></a>
            <div class="caption">
              <h6><a href="#">Short Sleeve T-Shirt</a></h6>
              <span class="price"> <del>$24.99</del></span
              ><span class="price sale">$12.49</span>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="product tumbnail thumbnail-3">
            <a href="#"
              ><img
                src="https://www.bootdey.com/image/350x280/FF7F50/000000"
                alt=""
            /></a>
            <div class="caption">
              <h6><a href="#">Short Sleeve T-Shirt</a></h6>
              <span class="price">$12.49</span>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="product tumbnail thumbnail-3">
            <a href="#"
              ><img
                src="https://www.bootdey.com/image/350x280/20B2AA/000000"
                alt=""
            /></a>
            <div class="caption">
              <h6><a href="#">Short Sleeve T-Shirt</a></h6>
              <span class="price"> <del>$24.99</del></span
              ><span class="price sale">$12.49</span>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="product tumbnail thumbnail-3">
            <a href="#"
              ><img
                src="https://www.bootdey.com/image/350x280/8A2BE2/000000"
                alt=""
            /></a>
            <div class="caption">
              <h6><a href="#">Short Sleeve T-Shirt</a></h6>
              <span class="price"> <del>$24.99</del></span
              ><span class="price sale">$12.49</span>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="product tumbnail thumbnail-3">
            <a href="#"
              ><img
                src="https://www.bootdey.com/image/350x280/6495ED/000000"
                alt=""
            /></a>
            <div class="caption">
              <h6><a href="#">Short Sleeve T-Shirt</a></h6>
              <span class="price"> <del>$24.99</del></span
              ><span class="price sale">$12.49</span>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="product tumbnail thumbnail-3">
            <a href="#"
              ><img
                src="https://www.bootdey.com/image/350x280/00008B/000000"
                alt=""
            /></a>
            <div class="caption">
              <h6><a href="#">Short Sleeve T-Shirt</a></h6>
              <span class="price">$12.49</span>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="product tumbnail thumbnail-3">
            <a href="#"
              ><img
                src="https://www.bootdey.com/image/350x280/9932CC/000000"
                alt=""
            /></a>
            <div class="caption">
              <h6><a href="#">Short Sleeve T-Shirt</a></h6>
              <span class="price"> <del>$24.99</del></span
              ><span class="price sale">$12.49</span>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="product tumbnail thumbnail-3">
            <a href="#"
              ><img
                src="https://www.bootdey.com/image/350x280/FF69B4/000000"
                alt=""
            /></a>
            <div class="caption">
              <h6><a href="#">Short Sleeve T-Shirt</a></h6>
              <span class="price"> <del>$24.99</del></span
              ><span class="price sale">$12.49</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
